html{
    scroll-behavior: smooth;
}
    body{
    font-size: 100%;
    font-family: sans-serif;
    }

    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        align-items: center;
        position: fixed;
        z-index: 999;
       
    }

    .card{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .navbar{
        background-color: rgba(0,0,0,.5);
        color: white;
    }

    .brand-title {
        font-size: 1.5rem;
        margin: .5rem;
    }

    .navbar-links {
        height: 100%;
    }

    .navbar-links ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navbar-links li {
        list-style: none;
    }

    .navbar-links li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 1rem;
    }


    .navbar-links li:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    }

    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    @media (max-width: 800px) {
        .navbar {
            flex-direction: column;
            align-items: flex-start;
        }

        .toggle-button {
            display: flex;
        }

        .navbar-links {
            display: none;
            width: 100%;
        }

        .navbar-links ul {
            width: 100%;
            flex-direction: column;
        }

        .navbar-links ul li {
            text-align: center;
        }

        .navbar-links ul li a {
            padding: .5rem 1rem;
        }

        .navbar-links.active {
            display: flex;
        }
    }

    section{
        box-sizing:content-box;
        width: 100%;
        float: left;
        height: 100vh;
        position: relative; 
    }
    
    #main-body{
        background-color: bisque;
        padding-bottom: 30%;
    }

    #top-page{
        background-image: url(/img/quang1.jpg);
        margin: 0;
        padding: 0;
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;
    }

    #recent-events{
        background-color: burlywood;
    }

    h1{
        position: absolute;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    h2{ 
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 10%;
        right: 10%;       
        color:white;
    }
